#contact_support{
position:relative;
margin-left:30px;
}

#contact_support h3{
margin-left:5px;
text-shadow:1px 1px 2px #000;
}

#contact_desc{
 font-family: sans-serif;
 font-style:italic;
 text-shadow:1px 1px 2px #000;
 position:relative;
 width:400px;

}

#employee_list{
position:absolute;
right:240px;
}

