<h2>New User</h2>
<br/>
<h2 class='htwo'>New Admin </h2>
<br/>
<div id="reg_form", class = "curved">
<%= render :partial => 'form' %>
</div>

<div id="form_back"  >
<%= link_to 'Back Home', root_path %>
</div>

