<title>Admin Login</title>
<br/>
<h2 class='htwo'> Admin Login </h2>
<div id='login_form'>
  <div id="reg_form", class = "curved">
  <%= render :partial => 'form' %>
</div>
</div>
<div id="form_back"  >
<%= link_to 'Back Home', root_path %>
</div>



